<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is about page.</title>
  </head>
  <body>
    <h1> Hi There!!! This is about page for dynamo app.</h1>
    <h2> Dynamo app generates password for you with different combination of your choice.</h2>
    <h2> Keepsake app generates token for you. This is very raw currently.</h2>
    <h3> Author : Shailesh Sutar <h3>
    <h4> Date : July 1st, 2020 </h4>
    <a href="{% url 'Home' %}">Home</a>
  </body>
</html>
