<<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Generate Token here.</title>
  </head>
  <body>
    <form action="{% url 'KeepSake' %}">
      <select name="length">
        <option value="Account Enquiry">Account Enquiry</option>
        <option value="Cash Deposit">Cash Deposit</option>
        <option value="Cash Withdraw">Cash Withdraw</option>
        <option value="Cheque Submission">Cheque submission</option>
        <option value="General Enquiry">General Enquiry</option>
        <option value="Passbook Update">Passbook Update</option>
        </select>
        <br>
        <input type="submit" value="Generate Password">
        <br>
    </form>
  </body>
</html>
